@tailwind base;
@tailwind components;
@tailwind utilities;

.parent:hover .parent-hover\:text-gray {
    color: #F2F2F2;
  }
.parent:hover .parent-hover\:block {
    display: block;
  }

  @layer components {
    .button {
      /* ... */
      width: calc(100% - 2rem);
    }
  }